@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-regular.woff2') format('woff2'),
  url('/fonts/Montserrat-regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat-medium.woff2') format('woff2'),
  url('/fonts/montserrat-medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-semibold.woff2') format('woff2'),
  url('/fonts/Montserrat-semibold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-bold.woff2') format('woff2'),
  url('/fonts/Montserrat-bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-extrabold.woff2') format('woff2'),
  url('/fonts/Montserrat-extrabold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--font-color);
}

:root {
  --font-color: #333333;
  --color: #ffffff;
  --back-color: #FF9900;
  --ca-col: #CACACA;
  --active: #E1670E;
}

a {
  text-decoration: none;
  color: var(--font-color);
  -moz-outline-style: 1px solid black;
}

p {
  margin: 0;
}

h1 {
  margin: 0;
  font-weight: normal;
}

h2 {
  margin: 0;
  font-weight: normal;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1920px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding-right: 75px;
  padding-left: 75px;
}

.hero__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 26px 36px;
  width: 100%;
  max-width: 280px;
  max-height: 78px;
  font-weight: 700;
  font-size: 23px;
  text-align: center;
  background-color: var(--back-color);
  border: transparent;
  color: var(--color);
  pointer-events: auto;
  cursor: pointer;
}

.hero__link:hover {
  background-color: rgba(255, 153, 0, 0.6);
}

.hero__link:active {
  background-color: var(--active);
}

.btn-more {
  padding: 20px 38px;
  max-width: 175px;
  max-height: 60px;
  font-weight: 700;
  background-color: transparent;
  border: 3px solid var(--back-color);
  color: var(--color);
  cursor: pointer;
}

.btn-more:hover {
  background-color: var(--back-color);
}

.btn-more:active {
  background-color: var(--active);
}

.btn-more--reverse {
  margin: 0;
  margin-right: 10px;
  background-color: var(--back-color);
  border: transparent;
  color: var(--color);
}

.btn-more--reverse:hover {
  background-color: rgba(255, 153, 0, 0.6);
}

.btn-more--reverse:active {
  background-color: var(--active);
}

.btn-contract {
  padding: 20px 38px;
  max-width: 147px;
  max-height: 60px;
  line-height: 19.5px;
  background-color: transparent;
  border: 1px solid var(--font-color);
  cursor: pointer;
}

.btn-contract:hover {
  background-color: #666666;
  color: var(--color);
}

.btn-contract:active {
  background-color: #000000;
  color: var(--color);
}

.btn-send {
  display: inline-flex;
  align-items: center;
  padding: 19px 52px;
  max-width: 269px;
  max-height: 58px;
  font-weight: 700;
  line-height: 20px;
  background-color: var(--back-color);
  border: transparent;
  color: #ffffff;
  cursor: pointer;
}

.burger-btn {
  display: none;
}

.header .container {
  padding: 0;
}

.header__container {
  padding: 0 75px;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1920px;
  height: 100px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  margin-left: auto;
}

.header-nav__list {
  display: flex;
  margin-right: 84px;
}

.header-nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.header-nav__item :hover {
  border-bottom: 2px solid var(--back-color);
}

.header-nav__item :active {
  color: var(--active)
}

.header-nav__item:not(:last-child) {
  margin-right: 85px;
}

.search {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search:hover rect {
  fill: var(--back-color);
}

.search:hover circle {
  stroke: var(--back-color);
}

.search:active rect {
  fill: var(--active);
}

.search:active circle {
  stroke: var(--active);
}

.hero {
  padding: 0 75px;
  margin-bottom: 100px;
}

.hero__container {
  position: relative;
  padding: 100px 0px 100px 80px;
  z-index: 1;
  pointer-events: none;
}

.hero__content {
  position: relative;
  width: 55%;
}

.hero__title {
  margin-bottom: 22px;
  font-weight: 800;
  font-size: 70px;
  line-height: 86px;
  color: var(--color);
}

.hero__description {
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color);
}

.swiper-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  pointer-events: auto;
}

.hero__swiper {
  background: url(/img/hero.jpg);
}

.hero__swiper2 {
  background: url(/img/hero2.jpg);
}

.hero__swiper3 {
  background: url(/img/hero3.jpg);
}

.swiper-slide .hero__swiper .swiper-slide-active {
  width: 100%;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap,10px);
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 25px;
  pointer-events: none;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  pointer-events: auto;
}

.about-us {
  margin-bottom: 100px;
}

.about-us__title {
  margin-bottom: 22px;
  font-size: 48px;
  line-height: 58px;
}

.about-us__description {
  margin-bottom: 50px;
  max-width: 69.5%;
  line-height: 32px;
}

.info-img {
  vertical-align: text-bottom;
}

.about-us__blocks {
  display: flex;
  justify-content: space-between;
}

.about-us__blocks-left-content-img {
  display: none;
}

.about-us__blocks-left {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex: 1 1 50%;
  align-items: flex-end;
  margin-right: 20px;
  max-width: 868px;
  background: url(/img/worker.jpg) no-repeat center;
  background-size: cover;
  color: var(--color);
}

.about-us__blocks-left-content {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-us__blocks-left-description {
  margin-right: 20px;
  max-width: 64%;
  font-weight: 700;
  line-height: 32px;
}

.about-us__blocks-right {
  flex: 1 1 50%;
  max-width: 870px;
}

.about-us__blocks-right-consult {
  margin-bottom: 30px;
  padding: 63px 115px 64px 300px;
  background-image: url(/img/consult-pic.svg);
  background-repeat: no-repeat;
  background-position-x: 59px;
  background-position-y: 63px;
  border: 1px solid var(--ca-col);
}

.about-us__blocks-right-consult-title {
  margin-bottom: 9px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.consult-block-description {
  line-height: 32px;
}

.about-us__blocks-right-improove {
  padding: 64px 118px 65px 300px;
  background-image: url(/img/improove-pic.svg);
  background-repeat: no-repeat;
  background-position-x: 59px;
  background-position-y: 65px;
  border: 1px solid var(--ca-col);
}

.about-us__blocks-right-improove-title {
  margin-bottom: 9px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}

.about-us__blocks-right-improove-description {
  line-height: 32px;
}

.steps {
  margin-bottom: 100px;
}

.steps__title {
  margin-bottom: 50px;
  font-size: 48px;
  line-height: 59px;
}

.step-nav__list {
  display: flex;
  margin-bottom: 45px;
}

.step-nav__item:not(:last-child) {
  margin-right: 85px;
}

.step-nav__btn {
  font-size: 18px;
  line-height: 21px;
  border: none;
  background-color: transparent;
}

.step-nav__btn--active {
  color: var(--back-color);
}

.step-nav__btn:hover {
  color: var(--back-color);
  cursor: pointer;
}

.step-nav__btn:active {
  color: var(--active);
}

.step-spoiler {
  display: none;
}

.step-spoiler--active {
  display: block;
}

.step-spoiler__item {
  display: flex;
  justify-content: space-between;
}

.step-spoiler__item-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  max-width: 780px;
}

.step-spoiler__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.step-spoiler__descripton {
  margin-bottom: 48px;
  line-height: 32px;
}

.step-spoiler__item-left-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 354px;
}

.step-spoiler__right {
  padding-top: 15px;
  max-width: 870px;
  min-width: 570px;
  max-height: 475px;
}

.step-spoiler__right-pic {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.faq {
  margin-bottom: 96px;
}

.faq__title {
  margin-bottom: 39px;
  font-size: 48px;
  line-height: 58px;
}

.accordion__item {
  border-top: 1px solid var(--ca-col);
}

.accordion__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 31px 0;
}

.acc-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-right: 20px;
}

.accordion__descr {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: var(--font-color);
}

.accordion__item:last-child {
  border-bottom: 1px solid var(--ca-col);
}

.ui-accordion-header-icon {
  display: none;
}

.question-button {
  padding: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(/img/plus.png) #ECECEC no-repeat center;
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.ui-state-active .question-button {
  transform: rotate(45deg);
}

.accordion__item:hover
.question-button {
  background-color: #D2D2D2;
}

.accordion__item:hover {
  color: var(--back-color);
  border-top: 1px solid var(--back-color);
  cursor: pointer;
}

.accordion__item:hover + .accordion__item {
  border-top: 1px solid var(--back-color);
}

.accordion__item:last-child:hover {
  border-bottom: 1px solid var(--back-color);
}

.footer .container {
  margin: auto;
  padding: 0;
}

.footer-container {
  margin: 0;
  padding: 50px 75px;
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  background-color: #222222;
  color: var(--ca-col);
}

.footer-left {
  width: 100%;
  max-width: 376px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-left__list {
  margin-bottom: 90px;
}

.footer-left__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  color: var(--ca-col);
}

.footer-media__list {
  display: flex;
}

.footer-media__list :not(:last-child) {
  margin-right: 25px;
}

.footer-media__item {
  width: 60px;
  height: 60px;
}

.callback {
  width: 100%;
  max-width: 570px;
}

.callback__title {
  margin-bottom: 25px;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
}

.callback__input {
  width: 100%;
  padding: 22px 24px;
  height: 100%;
  max-height: 60px;
  background-color: #414141;
  border: transparent;
  color: var(--color);
}

.callback__input--descr {
  min-height: 150px;
}

.checkbox-dscrpt:focus {
  outline: 1px solid red;
}

::placeholder {
  color: var(--ca-col);
}

.callback__item:not(:nth-child(3)) {
  margin-bottom: 25px;
}

.callback__item:nth-child(3) {
  margin-bottom: 28px;
}

.callback__send {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.callback__agreement{
  position: relative;
  display: block;
  word-wrap: break-word;
  padding-left: 19px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;  
  height: 1px;  
  margin: -1px;  
  border: 0;  
  padding: 0;
  clip: rect(0, 0, 0, 0);  
  overflow: hidden;
}

.check-box {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 14px;
  height: 14px;
  border: 1px solid var(--ca-col);
}

.check-box:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  width: 7px;
  height: 4px;
  border-left: 2px solid #97EE3F;
  border-bottom: 2px solid #97EE3F;
  transform: rotate(-45deg);
  transition: opacity .2s ease-in-out;
  opacity: 0;
}

.callback__checkbox:checked + .check-box:after {
  opacity: 1;
}

.callback__checkbox:focus + .check-box {
  border-color: var(--back-color);
}

.footer-right {
  padding-left: 10px;
  max-width: 375px;
}

.footer-right__dscrpt {
  padding-top: 87px;
  line-height: 32px;
  color: var(--ca-col);
}

@media (max-width: 3840px) {

  .header .container {
    max-width: 3840px;
  }

  .container {
    max-width: 1920px;
  }

  .swiper-wrapper {
    max-width: 100px;
  }

  .header__container {
    max-width: none;
  }

  .footer .container {
    max-width: 3840px;
  }

  .footer-container {
    max-width: none;
  }

}

@media (max-width: 1440px) {

  .container {
    max-width: 1440px;
  }

  .header__container {
    max-width: 1440px;
  }

  .hero {
    margin-bottom: 70px;
  }

  .hero__container {
    padding: 103px 0px 92px 78px;
  }

  .about-us {
    margin-bottom: 70px;
  }
  
  .about-us__blocks {
    flex-direction: column;
  }

  .about-us__description {
    max-width: 100%;
  }
  
  .about-us__blocks-left {
    margin-right: 0;
    margin-bottom: 40px;
    height: 100%;
    min-height: 622px;
    max-width: 100%;
  }

  .about-us__blocks-left-content {
    padding: 64px 68px 62px 54px;
  }

  .about-us__blocks-left-description {
    max-width: 59%;
  }

  .about-us__blocks-right {
    max-width: 100%;
  }

  .about-us__blocks-right-consult {
    padding: 89px 118px 102px 400px;
    width: 100%;
    background-position-x: 112px;
  }

  .about-us__blocks-right-consult-title {
    margin-bottom: 10px;
  }

  .about-us__blocks-right-improove {
    margin: 0 0 30px 0;
    padding: 79px 118px 114px 400px;
    width: 100%;
    background-position-x: 112px;
  }

  .about-us__blocks-right-improove-title {
    margin-bottom: 10px;
  }

  .step-spoiler__item-left {
    max-width: 50%;
  }

  .step-spoiler__right {
    min-width: auto;
    max-width: 50%;
    max-height: 100%;
  }

  .footer .container {
    max-width: 1440px;
  }

  .callback {
    max-width: 552px;
  }

  .inpt-callback {
    padding: 14px 0 14px 24px;
  }

  .footer-right {
    display: none;
  }

  .btn-send {
    padding: 19px 37px;
    max-width: 240px;
  }

}

@media (max-width: 1024px) {

  .container {
    padding: 0 50px;
    max-width: 1024px;
  }

  .header__container {
    padding: 0 50px;
    display: flex;
    max-width: 1024px;
    justify-content: center;
  }

  .logo {
    margin-right: auto;
    margin-left: auto;
  }

  .header-nav__list.header-nav__list--active {
    transform: none;
  }

  .burger-btn {
    z-index: 11;
    display: block;
    width: 30px;
    height: 23px;
    background: url(/img/burger.svg) transparent no-repeat center;
    border: none;
    cursor: pointer;
  }

  .burger-btn:hover {
    background-image: url(/img/burger-hover.svg);
  }

  .burger-btn:active {
    background-image: url(/img/burger-active.svg);
  }

  .close {
    background: url(/img/cross.svg) transparent no-repeat center;
    background-size: contain;
    z-index: 12;
  }

  .close:hover {
    background-image: url(/img/cross-hover.svg);
  }

  .close:active {
    background-image: url(/img/cross-active.svg);
  }

  .logo {
    max-width: 150px;
  }
  
  .search {
    width: 24px;
    height: 24px;
  }

  .header-nav__list {
    position: absolute;
    z-index: 10;
    padding-top: 162px;
    padding-left: 50px;
    flex-direction: column;
    top: 0px;
    left: 0;
    width: 420px;
    height: 768px;
    background-color: #fff;
    box-shadow: 0px 5px 40px rgb(0 0 0 / 50%);
    transition: transform .3s ease-in-out;
    transform: translateX(-201%);
  }

  .header-nav__item:not(:last-child) {
    margin-bottom: 60px;
  }

  .header-nav__link {
    font-size: 26px;
  }

  .nav {
    margin: 0;
  }

  .hero {
    padding: 0 50px;
    margin-bottom: 80px;
  }

  .hero__container {
    padding: 160px 77px;
  }

  .hero__content {
    width: 100%;
  }

  .hero__title {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__description {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24px;
  }

  .about-us {
    margin-bottom: 50px;
  }

  .about-us__title {
    margin-bottom: 10px;
  }

  .about-us__description {
    margin-bottom: 63px;
    max-width: 100%;
  }

  .about-us__blocks {
    flex-direction: column;
  }

  .about-us__blocks-left {
    margin-bottom: 32px;
    background: url(/img/worker1024.jpg) no-repeat center center;
    min-height: 640px;
  }

  .about-us__blocks-left-content {
    padding: 50px;
  }

  .about-us__blocks-right-consult {
    padding: 64px 153px 62px 317px;
    width: 100%;
    background-position-x: 76px;
    background-position-y: 64px;
  }

  .about-us__blocks-right-improove {
    padding: 65px 123px 63px 317px;
    width: 100%;
    background-position-x: 76px;
    background-position-y: 66px;
  }

  .steps {
    margin-bottom: 80px;
  }

  .step-nav__list {
    margin-bottom: 50px;  
  }

  .steps__title {
    margin-bottom: 50px;
  }

  .step-spoiler__item-left {
    max-width: 437px;
  }

  .step-spoiler__descripton {
    margin-bottom: 22px;
  }

  .step-spoiler__right {
    padding-top: 13px;
    max-width: 437px;
    min-width: 400px;
  }

  .faq {
    margin-bottom: 80px;
  }

  .faq__title {
    margin-bottom: 35px;
  }

  .accordion__item {
    max-height: 100%;
  }

  .accordion__title {
    padding: 30px 0;
  }

  .acc-title {
    font-size: 20px;
  }

  .accordion__item:nth-child(2) .acc-title {
    max-width: 84%;
  }

  .footer .container {
    max-width: 1024px;
  }

  .footer {
    margin: 0;
  }

  .footer-container {
    padding: 50px;
  }

  .callback {
    max-width: 541px;
  }

  .inpt-callback {
    padding: 14px 0px 14px 24px;
  }

}

@media (max-width: 768px){

  .container {
    padding: 0 50px;
    max-width: 768px;
  }

  .header__container {
    max-width: 768px;
    max-height: 69px;
  }

  .header-nav__list {
    padding-top: 144px;
    padding-left: 50px;
    height: 731px;
  }

  .header-nav-link {
    font-size: 22px;
  }

  .hero__container {
    padding: 160px 40px;
  }

  .hero__content {
    max-width: 768px;
  }

  .hero__title {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 60px;
  }

  .hero__description {
    font-size: 18px;
    line-height: 21px;
  }

  .about-us__description {
    margin-bottom: 62px;
  }

  .about-us__blocks-left {
    margin-bottom: 32px;
    background: url(/img/worker768.jpg) no-repeat center center;
    min-height: 650px;
  }

  .about-us__blocks-left-content {
    padding: 34px 40px;
  }

  .about-us__blocks-left-description {
    max-width: 62%;
    line-height: 32px;
  }

  .about-us__blocks-right-consult {
    margin-bottom: 32px;
    padding: 35px 44px 33px 170px;
    background-size: 119px;
    background-position-x: 39px;
    background-position-y: 67px;
    background-size: 114px;
  }

  .about-us__blocks-right-consult-title {
    margin-bottom: 8px;
  }

  .about-us__blocks-right-improove {
    padding: 35px 80px 33px 170px;
    background-size: 119px;
    background-position-x: 39px;
    background-position-y: 67px;
    background-size: 114px;
  }

  .about-us__blocks-right-improove-title {
    margin-bottom: 8px;
  }

  .steps {
    margin-bottom: 80px;
  }

  .step-nav__list {
    justify-content: space-between;
  }

  .step-nav__item:not(:last-child) {
    margin-right: 0;
  }

  .step-spoiler__item {
    flex-direction: column-reverse;
  }

  .step-spoiler__item-left {
    margin-right: 0;
    max-width: 100%;
  }

  .step-spoiler__descripton {
    margin-right: 0;
    margin-bottom: 23px;
    max-width: 100%;
  }

  .step-spoiler__right {
    margin-bottom: 38px;
    padding-top: 0;
    flex: none;
    min-width: auto;
    max-width: 100%;
    max-height: 284px;
  }

  .step-spoiler__right-pic {
    max-height: 284px;
  }

  .faq {
    margin-bottom: 80px;
  }

  .faq__title {
    margin-bottom: 34px;
  }

  .accordion__item:nth-child(3) .acc-title {
    max-width: 87%;
  }
  
  .accordion__item:nth-child(4) .acc-title {
    max-width: 86%;
  }

  .footer-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer-left__list {
    display: none;
  }

  .logo-footer {
    margin-bottom: 11px;
  }

  .callback {
    margin-bottom: 50px;
  }

  .btn-send {
    margin-right: 10px;
  }

}

@media (max-width: 500px) {

  .container {
    padding: 0 15px;
    max-width: 500px;
  }

  .header__container {
    padding: 0 15px;
    max-width: 500px;
  }

  .header-nav__list {
    padding: 100px 0 0 25px;
    width: 100%;
    height: 568px;
    transition: transform .3s ease-in-out;
    transform: translateX(-201%);
  }

  .header-nav-link {
    font-size: 20px;
  }

  .hero {
    padding: 0 15px;
    text-align: center;
  }

  .hero__container {
    padding: 80px 20px 80px 20px;
  }

  .hero__title {
    font-size: 20px;
    line-height: 24px;
  }

  .hero__description {
    margin-bottom: 55px;
    max-width: 100%;
    font-size: 12px;
    line-height: 14px;
  }

  .hero__link {
    padding: 15px 10px;
    max-width: 162px;
    max-height: 40px;
    font-size: 12px;
    line-height: 14px;
  }

  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 20px;
  }

  .about-us__blocks-left {
    min-height: unset;
    background: none;
  }

  .about-us__blocks-left-content {
    padding: 0;
    margin: 0;
    flex-direction: column;
    max-width: 100%;
    align-items: flex-start;
    background-color: transparent;
  }

  .about-us__blocks-left-content-img {
    display: block;
    margin-bottom: 10px;
  }

  .about-us__blocks-left-description {
    margin-bottom: 8px;
    max-width: 100%;
    font-weight: 400;
    line-height: 28px;
    color: var(--font-color);
  }

  .btn-more {
    padding: 11px 43px;
    max-width: 162px;
    max-height: 40px;
    font-size: 12px;
    line-height: 14px;
    border: 2px solid var(--back-color);
    color: var(--back-color);
  }

  .about-us__title {
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 39px;
  }

  .about-us__blocks-right-consult {
    padding: 140px 0 50px 0;
    text-align: center;
    background-position-x: center;
    background-position-y: 20px;
    border-right: none;
    border-left: none;
  }

  .about-us__blocks-right-consult-title {
    margin-bottom: 5px;
    font-size: 20px;
  }

  .about-us__blocks-right-improove {
    padding: 140px 0 50px 0;
    text-align: center;
    background-position-x: center;
    background-position-y: 20px;
    border-right: none;
    border-left: none;
  }

  .about-us__blocks-right-improove-title {
    margin-bottom: 5px;
    font-size: 20px;
  }

  .steps__title {
    margin-bottom: 32px;
    font-size: 36px;
    line-height: 49px;
  }

  .step-nav__item:not(:last-child) {
    margin-bottom: 25px;
  }

  .step-spoiler__title {
    font-size: 20px;
  }

  .step-spoiler__descripton {
    margin-bottom: 18px;
  }
  
  .step-spoiler__right {
    min-width: 0;
  }

  .step-spoiler__item-left-buttons {
    max-width: 290px;
  }

  .btn-more--reverse {
    margin-right: 5px;
    color: var(--color);
  }

  .btn-contract {
    padding: 12px 32px;
    max-width: 118px;
    max-height: 40px;
    font-size: 12px;
    line-height: 14px;
  }

  .faq__title {
    font-size: 36px;
    line-height: 49px;
  }

  .accordion__item{
    font-size: 18px;
    font-weight: 500;
  }

  .acc-title {
    margin-right: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
  }

  .question-button {
    padding: 20px;
    width: 40px;
    height: 40px;
  }

  .footer .container {
    max-width: 500px;
  }

  .footer-container {
    padding: 32px 15px;
    max-width: 500px;
  }

  .callback {
    margin-bottom: 30px;
    max-width: 500px;
    border-bottom: 1px solid #595959;
  }

  .callback__send {
    flex-direction: column;
    margin-bottom: 16px;
  }

  .callback__title {
    margin-bottom: 21px;
    font-size: 24px;
    line-height: 29px;
  }

  .callback__list {
    text-align: center;
  }
  
  .btn-send {
    margin-bottom: 11px;
    padding: 13px 28px;
    font-size: 12px;
    line-height: 14px;
  }

  .footer-left {
    margin: 0;
    max-width: 100%;
    text-align: center;
  }

  .logo-footer {
    max-width: 178px;
    max-height: 57px;
  }

  .footer-media__list {
    justify-content: center;
  }

  .footer-media__item {
    width: 50px;
    height: 50px;
  }

  .messengers-icon {
    max-width: 50px;
    max-height: 50px;
  }

}

@media (max-width: 320px) {

  .container {
    padding: 0 15px;
    max-width: 320px;
  }

  .header__container {
    padding: 0 15px;
    max-width: 320px;
    max-height: 69px;
    display: flex;
  }

  .burger-btn {
    width: 30px;
    height: 23px;
  }

  .burger-btn:hover {
    background-size:contain;
  }

  .logo {
    max-width: 110px;
    max-height: 35px;
  }

  .header-nav__list {
    padding: 78px 0 0 15px;
    height: 377px;
    transition: transform .3s ease-in-out;
    transform: translateX(-201%);
  }

  .header-nav__link {
    font-size: 16px;
    font-weight: 700;
  }

  .header-nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .hero {
    padding: 0 15px;
  }

  .hero__container {
    padding: 60px 22px;
  }

  .hero {
    margin-bottom: 60px;
    text-align: center;
  }

  .hero__title {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 24px;
  }

  .hero__description {
    margin-bottom: 34px;
    max-width: 100%;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
  }

  .hero__link {
    padding: 14px 27px;
  }

  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets .swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 11px;
    left: 31%;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .about-us {
    margin-bottom: 30px;
  }

  .about-us__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 29px;
  }

  .about-us__description {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 28px;
  }

  .about-us__blocks-left {
    padding-top: 0;
    max-width: 290px;
  }

  .about-us__blocks-left-content-img {
    margin-bottom: 5px;
  }

  .about-us__blocks-left-description {
    font-size: 14px;
    line-height: 28px;
  }

  .about-us__blocks-right-consult {
    margin-bottom: 32px;
    padding: 0;
    text-align: unset;
    background: url(/img/consult-pic320.svg) no-repeat center center;
    background-position-x: left;
    background-position-y: top;
    border: transparent;
  }

  .about-us__blocks-right-consult-title {
    padding-top: 62px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
  }

  .consult-block-description {
    font-size: 14px;
    line-height: 28px;
  }

  .about-us__blocks-right-improove {
    padding: 0;
    text-align: unset;
    background: url(/img/improove-pic320.svg) no-repeat center center;
    background-position-x: left;
    background-position-y: top;
    border: transparent;
  }

  .about-us__blocks-right-improove-title {
    padding-top: 62px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
  }

  .about-us__blocks-right-improove-description {
    font-size: 14px;
    line-height: 28px;
  }

  .steps {
    margin-bottom: 60px;
  }

  .steps__title {
    margin-bottom: 22px;
    font-size: 24px;
    line-height: 29px;
  }

  .step-nav__list {
    margin-bottom: 0;
  }

  .step-nav__item {
    font-size: 14px;
    line-height: 17px;
  }

  .step-nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .step-nav__btn {
    font-size: 14px;
    line-height: 17px;
  }

  .step-spoiler__right {
    margin-bottom: 16px;
    height: 160px;
  }

  .step-spoiler__title{
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }

  .step-spoiler__descripton {
    font-size: 14px;
    line-height: 28px;
  }

  .faq {
    margin-bottom: 60px;
  }

  .faq__title {
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
  }

  .acc-title {
    font-weight: 500;
  }

  .accordion__item:last-child .acc-title {
    max-width: 88%;
  }

  .question-button {
    padding: 15px;
    width: 30px;
    height: 30px;
    background-size: 70%;
  }

  .callback {
    margin-bottom: 16px;
    max-width: 290px;
    border-bottom: 1px solid #595959;
  }

  .callback__item {
    display: flex;
    flex-direction: column;
  }

  .callback__input {
    padding-left: 20px;
  }

  .callback__input--descr {
    padding-top: 14px;
  }

  .callback__input::placeholder {
    font-size: 14px;
    line-height: 32px;
  }

  .callback__item:nth-child(3) {
    margin-bottom: 25px;
  }

  .btn-send {
    margin-right: 0;
    margin-bottom: 18px;
  }

  .callback__send {
    margin-bottom: 23px;
  }

  .footer-container {
    padding: 32px 15px;
    max-width: 320px;
  }

  .logo-footer {
    margin-bottom: 16px;
    max-width: 131px;
    max-height: 42px;
  }

  .footer-left {
    margin: 0;
    text-align: center;
  }

  .footer-media__list {
    justify-content: center;
  }

  .footer-media__item:not(:last-child) {
    margin-right: 16px;
  }

  .footer-media__item {
    width: 40px;
    height: 40px;
  }

  .messengers-icon {
    max-width: 40px;
    max-height: 40px;
  }

}
